{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin</h1>

    <nav>
        <a href="{{ path('admin_city_index') }}">Cities</a>
        <a href="{{ path('admin_station_index') }}">Stations</a>
    </nav>

    {% block body_admin %}{% endblock %}

{% endblock %}