{% extends 'admin/base.html.twig' %}

{% block title %}New City{% endblock %}

{% block body_admin %}
    <h2>Create new City</h2>

    {{ include('admin/city/_form.html.twig') }}

    <a href="{{ path('admin_city_index') }}">back to list</a>
{% endblock %}