{% extends 'admin/base.html.twig' %}

{% block title %}New Station{% endblock %}

{% block body_admin %}
    <h2>Create new Station</h2>

    {{ include('admin/station/_form.html.twig') }}

    <a href="{{ path('admin_station_index') }}">back to list</a>
{% endblock %}